HABBO_GAME_PORT=3000
HABBO_RCON_PORT=3001
HABBO_DB_PORT=13306
HABBO_DOCKER_SUBNET=172.20.0.0/16

HABBO_NITRO_BIND_PORT=1080
HABBO_ASSETS_BIND_PORT=8080
HABBO_SWF_BIND_PORT=8081
HABBO_WS_BIND_PORT=2096

HABBO_MAILPIT_SMTP_PORT=1025
HABBO_MAILPIT_UI_PORT=8025

HABBO_PORTAL_PORT=3090
HABBO_PORTAL_BASE_URL=http://127.0.0.1:1080
HABBO_PORTAL_JWT_SECRET=change-this-in-production
HABBO_PORTAL_COOKIE_SECURE=false
HABBO_PORTAL_PUBLIC_URL=http://127.0.0.1:3090
HABBO_PORTAL_BOOTSTRAP_ENABLED=true
HABBO_PORTAL_BOOTSTRAP_EMAIL=systemaccount@hotel.local
HABBO_PORTAL_BOOTSTRAP_USERNAME=Systemaccount
HABBO_PORTAL_BOOTSTRAP_PASSWORD=ChangeMeNow123!
HABBO_PORTAL_BOOTSTRAP_HABBO_USERNAME=Systemaccount
HABBO_PORTAL_RESET_TOKEN_TTL_MINUTES=30

HABBO_AI_SERVICE_PORT=3002
